<?xml version="1.0" encoding="UTF-8" ?>
<!-- lang: xml-->
<configuration>
    <property name="CONSOLE_LOG_PATTERN"
              value="%white(%date{yyyy-MM-dd HH:mm:ss}) [%highlight(%-4level)] [%boldYellow(%t)] %magenta(%logger) | %cyan(%msg%n)"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 只输出 INFO或大于INFO 级别的日志 -->
        <!-- 日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- logback为java中的包 -->
    <logger name="c" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>